extends layout

block content
  script(type='text/javascript' src='https://sandbox.web.squarecdn.com/v1/square.js')
  script(type='text/javascript' src='javascripts/yourmom.js')  
  #card-container
  #nonce-token
    form#input-form
      label(for='appId') Application ID:
      br
      input#appId(type='text' name='appId' size='50')
      br
      label(for='locId' size) Location ID:
      br
      input#locId(type='text' name='locId' size='16')
      br
    button#card-button(type='button') Tokenize Card
    button#var-button(type='button') Set Variables
    p#status Nonce/token: None yet!
  
