extends layout

block content
  script(type='text/javascript' src='https://sandbox.web.squarecdn.com/v1/square.js')
  script(type='text/javascript' src='javascripts/yourmom.js')  
  #card-container
  #nonce-token
    button#card-button(type='button') Store Card
    p Nonce/token: None yet!
  
