body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

button,
p,
label,
input {
    font-size: large;
}

div {
    width: fit-content;
    block-size: fit-content;
}

button {
    margin-top: 3px;
}

button#card-button {
    display: none;
}
