body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

button,
p {
    font-size: large;
}

div {
    width: fit-content;
    block-size: fit-content;
}
